header img{
    width: 396px;
    height: 292px;
    border-radius: 52%;
    margin-bottom: 20px;
}

header{
    background-color: var(--mainColor);
}

.star{
    position: relative;
}

.star::after{
    position: absolute;
    content: "";
    top: 47%;
    left: 55%;
    height: 4px;
    width: 20%;
    background-color: white;
}

.star::before{
    position: absolute;
    content: "";
    top: 47%;
    right: 55%;
    height: 4px;
    width: 20%;
    background-color: white;
}
